## Sets in Python

    * Sets is one of the datatypes of Python

In [4]:
import logging

In [2]:
#create a empty set
s1 = set()

s1.__class__

set

In [9]:
#assign elements
s1 = set()
s1 = {'one','two','three','one'}
print(s1)

print('Note that sets can"t have duplicates')

{'one', 'three', 'two'}
Note that sets can"t have duplicates

In [10]:
#membership
'one' in s1

True

In [12]:
#convert list to set

l1 = [1,3,4,2,1]
s1 = set(l1)

print(s1)
print('Order of insertion is different from the order of storage')
print('So don"t assume any order')

{1, 2, 3, 4}
Order of insertion is different from the order of storage
So don"t assume any order

## set operations

In [16]:
odd = set([1,3,5,7,9,11])
prime = set([2,3,5,7,11])

#union
s_union = odd | prime
print(s_union)

#intersection
s_intersec = odd & prime
print(s_intersec)

#difference
s_diff = odd - prime
print(s_diff)

#exclusive-or
odd ^ prime

{1, 2, 3, 5, 7, 9, 11}
{11, 3, 5, 7}
{1, 9}

{1, 2, 9}